.key-points {
  margin-top: 60px;
  text-align: left;
}

.key-points h2 {

  margin-bottom: 24px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: 0%;
  text-align: center;

}

.key-points ul {
  list-style: disc;
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.7;
}

.key-points li {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0%;
  margin-bottom: 32px;
}